* { margin: 0px; padding: 0px;}

/* body {
    overflow: hidden
} */

video {
    max-width: 228px;
    width: 228px;
    height: 398px;
    max-height: 398px;
    object-fit: cover;
}

/* .hiVideo {
    max-width: 228px;
    width: 228px;
    height: 398px;
    max-height: 398px;
    object-fit: cover;
} */